// Buttons
.btn {
    cursor: pointer;
    display: inline-block;
    font-family: $button-fontfamily;
    font-weight: 600;
    background: $button-bgcolor;
    color: #fff;
    padding: 7px 15px;
    font-size: $button-fontsize;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    @include prefix(box-sizing, border-box);
    @include prefix(transition, all .3s ease);

    &:hover {
        background-color: darken($primary-color, 10%);
        color: #fff;
    }
}
