// Nav
nav[role="navigation"] {
    @extend %clearfix;
    margin-top: 20px;
    .menu {
        float: right;
        
        li {
            float: left;
            position: relative;
            
            a {
                color: $nav-color;
                font-size: $nav-fontsize;
                padding: 0 10px;
                border-left: 1px solid $body-color;
                
                &:after {
                    content: '';
                    width: 100%;
                    height: 0;
                    position: absolute;
                    bottom: -16px;
                    left: 0;
                    background: $nav-color--hover; 
                    @include prefix(transition, all .4s ease);
                }

                &:hover {
                    color: $nav-color--hover;

                    &:after {
                        height: 4px;
                    }
                }
            }

            &:first-child a {
                border-left: 0;
            }
        }
    }
}
