// Newletter
#newsletter {
    background: $newsletter-bgcolor;
    color: $newsletter-color;
    padding: $gutter 0;

    .container {
        max-width: 800px;
    }

    .info {
        @include column(2/5);
        font-size: 13px;
        p {
            margin: 0;
        }
        
        &:before {
            content: '';
            background: url('../images/icons/newsletter.png') no-repeat center center;
            display: block;
            margin-right: 10px;
            margin-top: 5px;
            float: left;
            @include size(54px, 37px);
        }
        
        h2 {
            color: $newsletter-color;
            margin: 0;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 600;
        }
    }

    .form-newsletter {
        @include column(3/5);
    }
    input {
        height: 40px;
        display: inline-block;
        vertical-align: top;
        margin:0 5px;
    }

    .newsletter-submit {
        @extend .btn;
        height: 44px;   
    }

    .newsletter-email {
        max-width: 70%;
        width: 100%;
    }

    input[type="text"],
    input[type="email"] {
        padding: 0 10px;
        background: transparent;
        border: 2px solid $newsletter-color;
        outline: 0;
    }
}
