// Base
body, html {
    height: 100%;
}
body {
    background: $body-bgcolor;
    font-family: $font-base;
    font-size: $body-fontsize;
    margin: 0;
    padding: 0;
    color: $body-color;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

.theme-overlay {
    display: none;
    background: $overlay-bgcolor;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow: hidden;
    @include size(100%, 100%);
}

.container {
    max-width: $jeet-max-width;
    margin: 0 auto;
    display: block;
    padding: 0 20px;
    @extend %clearfix;
}

main[role="main"] {
    position: relative;
}

.panel-grid {
    margin: $gutter 0;
    width: 100%;
}

