// Footer
#footer {
    padding: $footer-padding;
    color: $footer-color;
    background: $footer-bgcolor;

    .col {
        margin: 20px 0;
    }

    // Sitemap
    .menu {
        margin-top: 20px;

        li:before {
            content: '';
            display: inline-block;
            background: #fff;
            margin-right: 5px;
            vertical-align: middle;
            @include size(3px, 3px);
        }
        

        a {
            font-size: 12px;
            color: #fff;

            &:hover {
                color: $secondary-color;
            }
        }
    }
    
    // Trabalhe Conosco
    .trabalhe-conosco {
        .box {
            max-width: 200px;
            margin: 0 auto;
            border: 2px solid $secondary-color;
            padding: 15px;
            @include prefix(border-radius, 10px);

            a {
                color: #fff;
            }

            .content {
                @extend %clearfix;
            }
        }

        .icon {
            float: left;
            margin-right: 10px;
        }

        .description {
            font-size: 16px;
            color: $secondary-color;
            text-transform: uppercase;
            display: inline-block;
            margin-top: -5px;
            margin-bottom: 0;

            a {
                display: block;
                text-transform: none;
            }
        }
    }
    
    // Ligue Agora
    .ligue-agora {
        font-size: 12px;
        p, img {
            margin: 0 30px;
        }

        p {
            margin: 0;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 20px;
                font-weight: 600;
            }
        }

        img {
            margin: 10px 0;
        }
    }

    // Central de Atendimento
    .central-atendimento {
        .title {
            color: #fff;
            font-size: 22px;
            text-transform: none;
            font-weight: 600;

            &:before {
                content: '';
                background: url('../images/icons/central-atendimento.png') no-repeat;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                @include size(31px, 30px);
            }
        }

        .contatos {
            @extend %clearfix;

            ul {
                font-size: 12px;
                li {
                    display: inline-block;
                    margin: 0 0 0 10px;
                    line-height: 1.3em;

                    &:before {
                        content: '';
                        display: inline-block;
                        background: #fff;
                        margin-right: 5px;
                        vertical-align: middle;
                        @include size(3px, 3px);
                    }
                }
            }
        }
    }

    // Colunas
    .sitemap { @include column(2/12); }
    .trabalhe-conosco { @include column(4/12); }
    .ligue-agora { @include column(2/12); }
    .central-atendimento { @include column(4/12); margin-right: 0;}

}

#copyright {
    @extend %clearfix;
    margin-top: 10px;

    .container {
        padding: 20px 0;
        border-top: 1px solid #556372;
        font-size: 11px;
        font-family: $font-reset;
        color: #7f838a;
    }
    
    a {
        color: #fff;
    }

    p {
        margin: 0;
    }

    .col {
        @include column(1/3);
        margin: 10px 0;
    }

    .powered {
        text-align: center;
        a {
            font-weight: 600;
        }
    }

    .social {
        .icon {
            @include size(31px, 29px);
            display: block;
            text-indent: -99999px;
            background-repeat: no-repeat;
            margin-top: 7px;

            &.icon-twitter { background-image: url('../images/icons/twitter.png')}
            &.icon-facebook { background-image: url('../images/icons/facebook.png')}
        }

        ul {
            float: right;
            li {
                float: left;
                margin: 0 0 0 10px;
            }
        }
        .logo-estacio {
            background: url('../images/estacio-footer.png') no-repeat;
            display: inline-block;
            @include size(119px, 38px);
        }
    }
}
