// Header
#header {
    background: $header-bgcolor;
    color: $header-color;
    border-bottom: $header-borderbottom;
    margin-bottom: $gutter;

    #logo {
        @include column(3/12);
        margin: 10px 0;
    }

    #content-header {
        @include column(9/12);

        .row {
            @extend %clearfix;
            margin-top: 15px;
            width: 100%;
            display: block;
        }
    }

    // Social media
    .social-media {
        ul {
            float: right;

            li {
                float: right;
                display: inline-block;
            }
        }
        .icon {
            @include size(31px, 29px);
            display: block;
            margin-left: 10px;
            text-indent: -99999px;
            background-repeat: no-repeat;

            &.icon-twitter { background-image: url('../images/icons/twitter.png')}
            &.icon-facebook { background-image: url('../images/icons/facebook.png')}
        }
    }

    // Search
    .row-search {
        .content {
            width: 55%;
            float: right;
        }

        #search {
            max-width: 290px;
            display: inline-block;

            label {
                display: none;
            }
            
            input {
                outline: 0;
                float: left;
            }

            input[type="text"] {
                font-family: $search-fontfamily;
                font-size: $search-fontsize;
                padding: 0 10px;
                border: 2px solid $search-bgcolor;
                color: $header-color;
                height: $search-height;
                @include prefix(border-radius, 10px 0 0 10px);
            }

            #searchsubmit {
                cursor: pointer;
                background: $search-bgcolor url('../images/icons/search.png') no-repeat center center;
                @include prefix(border-radius, 0 10px 10px 0);
                border: 0;
                margin: 0;
                width: 55px;
                text-indent: -99999px;
                height: $search-height + 4px;
            }
        }

        .feature-partner {
            float: right;
        }
    }
}

.aux-nav {
    .nav-content {
        background: $nav-aux-bgcolor;
        color: $nav-aux-color;
        max-width: 650px;
        width: 100%;
        padding: 10px;
        float: right;
        @include prefix(border-radius, 5px);
        @extend %clearfix;
    }

    .nav-items {
        a, a:hover {
            color: #fff;
        }

        li {
            font-size: 12px;
            text-transform: uppercase;
            @include column(1/4);

            &:before {
                content: '';
                display: block;
                margin: 0 10px;
                background-repeat: no-repeat;
                float: left;
                @include size(29px, 31px);
            }

            &.tel:before {background-image: url('../images/icons/tel.png')}
            &.atendimento-online:before {background-image: url('../images/icons/atendimento-online.png')}
            &.matricula:before {background-image: url('../images/icons/matricula.png')}
            &.area-aluno:before {background-image: url('../images/icons/area-aluno.png')}

            span {
                font-size: 20px;
                display: block;
                font-weight: 600;
            }
        }
    }
}


