// Typography

// Paragraph
p {
	margin: 0 0 15px 0;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: $primary-color;
    @include prefix(transition, all .3s ease);
    
    &:hover {
    	color: $secondary-color;
    }
}

// Titles
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: $primary-color;
	font-weight: 400;
	margin: 0 0 20px 0;
	line-height: 1.3em;
}

h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 18px}
h5 {font-size: 14px}
h6 {font-size: 12px}

.widget-title {
	font-size: 41px;
	font-weight: 700;
	color: $primary-color;
}
