// Frontpage
.page-template-page-frontpage {
    .panel-grid-cell img {
        max-width: inherit;
    }
}

.categorias-cursos {
    color: #fff;
    padding: 50px 0;
    @extend %clearfix;
    @extend .text-centered;

    .widget-title {
        font-size: 33px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 50px;
    }

    .wp-caption {
        max-width: 118px;
        @include column(1/8);
        @include prefix(transition, all .3s ease);

        &:hover {
            @include prefix(transform, scale(1.1));
            &, a {
                color: #0290D9;
            }
            
        }
    }
}

// Clients
.logo-clientes {
    @extend .text-centered;

    .widget-title {
        font-size: 25px;
        font-weight: 600;
        color: $body-color;
        margin-bottom: $gutter;
    }
}
