// Helpers
@media screen and (min-width: 768px) {
    .hide-desktop {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}

// Align text
.text-centered {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-justify {
	text-align: justify;
}
.hide {
    display: none;
}
