// Mixins

// Prefix
@mixin prefix($prop, $val) {
    @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
        #{$prefix}#{$prop}: $val;
    }
}

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// Clearfix
%clearfix {
	&:before,
	&:after {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}
