// Variables

// Fonts
// --------------------------

// Titillium
@import "https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700,900";
// Bebas 
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebas/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebas/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebas/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
// Fonts
$font-reset: 'Arial', trebuchet ms, tahoma, verdana;
$font-bebas: 'Bebas Neue', trebuchet ms, sans-serif, arial, tahoma, verdana;
$font-titilium: 'Titillium Web', trebuchet ms, sans-serif, arial, tahoma, verdana;
$font-base: $font-titilium;
$font-title: $font-bebas;

// Colors
// --------------------------
$gray: #757575;
$light-gray: #f5f5f5;
$dark-gray: #424242;
$dark-blue: #003766;
$purple: #14273c;
$blue: #004c94;
$orange: #f89630;

$primary-color: $dark-blue;
$secondary-color: $orange;

// Main - Principal
// --------------------------
$body-bgcolor:  #f3f3f3 !default;
$body-color: #555 !default;
$body-fontsize: 16px !default;

// Overlay
$overlay-bgcolor: rgba(0,0,0,0.75);

// Spaces
$gutter: 40px;

// Header
// --------------------------
$header-bgcolor: #fff;
$header-color: #777;
$header-borderbottom: 2px solid #ededed;
// search
$search-fontfamily: $font-bebas;
$search-fontsize: 23px;
$search-height: 40px;
$search-bgcolor: $secondary-color;
// nav aux
$nav-aux-bgcolor: #767676;
$nav-aux-color: #fff;

// Header
// --------------------------
$footer-bgcolor: $purple;
$footer-color: #fff;
$footer-padding: $gutter 0;

// Nav
// --------------------------
$nav-color: $body-color;
$nav-fontsize: 16px;
$nav-color--hover: $secondary-color;

// Newsletter
$newsletter-bgcolor: #e5e5e5;
$newsletter-color: $purple;

// Buttons
$button-bgcolor: $purple;
$button-fontfamily: $font-base;
$button-fontsize: 14px;
